<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.serialweightscale">

    <uses-permission android:name="android.permission.USB_PERMISSION" />
    <uses-permission android:name="android.hardware.usb.host" />
    <uses-feature android:name="android.hardware.usb.host" android:required="true"/>
    <uses-permission android:name="com.serialweightscale.USB_PERMISSION" />
    <permission
        android:name="com.serialweightscale.USB_PERMISSION"
        android:protectionLevel="normal" />


    <application>
        <meta-data
            android:name="com.facebook.react.module.SerialWeightScaleModule"
            android:value="com.serialweightscale.SerialWeightScaleModule" />
    </application>

</manifest>